exportPattern(adduct.search,combine,make.isos,deter.iso,homol.search,ms.filter,nontarget,pattern.search,pattern.search2,plotadduct,plotall,plotcomp,plotdefect,plotdiff,plotgroup,plothomol,plotisotopes,rm.sat)
useDynLib(nontarget,adduct,mass,homol_1,metagroup,peak_search,boxtree,kdtree4,search_boxtree,search_kdtree)
importFrom("enviPat")
importFrom("nontargetData")
importFrom("mgcv")